# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Data and artifacts (don't commit large binary pickles unless you want to)
data/lr_model_outputs/
*.pkl
*.joblib

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# logs and temporary files
*.log
*.tmp
